<legend>Administrador</legend>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @administrador.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @administrador.apellidos %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @administrador.correo %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @administrador.empresa %>
</p>

<!-- Se elimina de la visa

<p>
  <strong>Usuario:</strong>
  <--%= @administrador.usuario %>
</p>

<p>
  <strong>Password:</strong>
  <--%= @administrador.password %>
</p>
-->
<p></p>
<p></p>
<p></p>
<p></p>
<%= link_to 'Editar', edit_administrador_path(@administrador),class: 'btn btn-primary' %> |
<%= link_to 'Crear Concurso', new_concurso_path(@administrador),class: 'btn btn-primary' %> |
<%= link_to 'Salir', sesion_new_path, class: 'btn btn-primary' %> |


<div class="container">
  <h2>Listado de Concursos</h2>

  <table class="table table-striped">
  <thead>
  <tr>
    <th width="350">Nombre</th>
    <th width="250">Url</th>
    <th width="100" >Fecha Inicio</th>
    <th width="100">Fecha Fin</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <!--% @administrador.concursos.all.paginate(:page => params[:page], :per_page => 2).each do |concurso| %-->

  <% @adm = @administrador.concursos.all.order("fechaini DESC").paginate(:page => params[:page], :per_page => 4)%>

  <% @adm.each do |concurso| %>
      <tr>
        <td><%= concurso.nombre %></td>
        <td><%= concurso.url %></td>
        <td><%= concurso.fechaini %></td>
        <td><%= concurso.fechafin %></td>
        <td><%= link_to 'Ver Detalle', concurso %></td>
        <td><%= link_to 'Editar', edit_concurso_path(concurso) %></td>
        <td><a data-method="delete" href="/concursos/<%= concurso.id %>/destroy" rel="nofollow">Borrar</a>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
<%= will_paginate @adm.all, renderer: BootstrapPagination::Rails %>
<br>

