<div class="jumbotron">
  <table>
    <tr>
      <td>
        <a class="navbar-brand" href="<%= @concurso.url %>">
          <img alt="Brand" src="<%= @concurso.banner %>">
        </a>
      </td>
      <td>
        <h3>Concurso <strong> <%= @concurso.nombre %> </strong></h3>
      </td>
    </tr>
    <tr>
    </tr>
  </table>
  <p>
  <table>
    <tr>
      <td> No olvides que estas a punto de ganar un <strong> <%= @concurso.premio %> </strong></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>  <a class="btn btn-primary btn-lg" href="/publicaciones/<%= @concurso.url %>" role="button">Regresa al concurso</a></td>
    </tr>
  </table>

</div>


<%= form_for(@video, html: {class: 'form-horizontal'}) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
      <%= f.label :nombres, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :nombres %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :apellidos, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :apellidos %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :correo, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
    <%= f.text_field :correo %>
    </div>
  </div>


  <div class="field form-group">
    <%= f.label :mensaje, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :mensaje %>
    </div>
  </div>

   <%= f.hidden_field :concurso_id %>

  <div class="field form-group">
    <%= f.label :archivo, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.file_field :archivo, class: 'btn btn-primary btn-file' %>
    </div>
  </div>





    <div class="actions form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Subir Video', class: 'btn btn-primary' %>
      </div>
    </div>

   </div>
<% end %>
