<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @video.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @video.apellidos %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @video.correo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @video.fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @video.estado %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
