<h1>LISTADO DE CONCURSOS</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Banner</th>
      <th>Url</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Premio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concursos.each do |concurso| %>
      <tr>
        <td><%= concurso.nombre %></td>
        <td><%= concurso.banner %></td>
        <td><%= concurso.url %></td>
        <td><%= concurso.fechaini %></td>
        <td><%= concurso.fechafin %></td>
        <td><%= concurso.premio %></td>
      <!-- Se eliminan los link, dado que la navegacion debe venir desde el adminitardor
        <td><--%= link_to 'Ver', concurso %></td>
        <td><--%= link_to 'Editar', edit_concurso_path(concurso) %></td>
        <td><--%= link_to 'Eliminar', concurso, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
       -->
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @concurso, renderer: BootstrapPagination::Rails %>
<br>
<!-- Se eliminan los link, dado que la navegacion debe venir desde el adminitardor
<--%= link_to 'Nuevo Concurso', new_concurso_path,class: 'btn btn-primary' %>
-->
<%= link_to 'Home','/home',class: 'btn btn-primary' %>
